﻿<%@ Page Title="" Language="C#" MasterPageFile="~/elmaestro.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <asp:UpdatePanel ID="UpdatePanel2" runat="server">
    </asp:UpdatePanel>
    <p>
    <h2>
    Bienvenido a la guerra de bytes. Aqui esta tu sistema:
    </h2>
    </p>
    Escudos:<asp:Label ID="lblescudo" runat="server" Text="Label"></asp:Label><br />
    Porcentaje de daño del sistema:<asp:Label ID="lblVida" runat="server" Text="Label"></asp:Label><br />
 
    <h2>
    Sistemas detectados para atacar: 
    </h2>
 
    Estos sistemas se han detectado:
    <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False" 
    Width="412px">
</asp:GridView>
    <br />
    <asp:Button ID="btnAtacar" runat="server" Text="Atacar sistema con virus" 
        onclick="btnAtacar_Click" />
    <br />


</asp:Content>

